.venv
__pycache__
*.egg-info/

data
!data/PubMedVision_demo
!data/OmniMedVQA/sample
!data/MedVLM-R1/images

result/MedVLM-R1/ta/images

tmp*

# Vim temporary files
.*.sw?
*.sw?

# Result Folder
result/
HPC/output/